Markdown
Pillow
PyYAML
bleach
django-filter
django-formtools
django-mptt
django-otp-yubikey
django-otp
django-environ
django-redis
django-rq
django-tables2
django
django_browser_reload
djangorestframework
drf-yasg
gunicorn
mkdocs-material>=9.5.42
mkdocs>=1.6.1
mkdocstrings[python]>=0.25
netaddr
phonenumbers
psycopg2-binary
rq-scheduler
segno
swagger-spec-validator
typing-extensions
rq