Markdown
Pillow
PyYAML
bleach
celery
django-celery-beat
django-filter
django-formtools
django-mptt
django-otp-yubikey
django-otp
django-redis
django-rq
django-tables2
django
django_browser_reload
djangorestframework
drf-yasg
gunicorn
mkdocs-material
mkdocs
mkdocstrings[python-legacy]
netaddr
phonenumbers
psycopg2
rq-scheduler
segno
swagger-spec-validator
typing-extensions
